body {
	padding-top: 50px;
}
.featurelist {
	width: 250px;
	height: 100%;
	border-right: light-grey;
}
.scenarioSpec {
	width: 400px;
	font-family: monospace;
	margin:2px;
	padding:2px;
	border:solid 1px #cccccc;
}

/* Syntax highlighting */
.cuke-keyword {
	color: blue;
}
.cuke-parameter {
	font-style: italic;
	color: gray;
}
